* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
    font-size: 16px;
}

body {
    margin: 0;
}

code, a {
    color: #FC427B;
    font-style: italic;
}

h1 {
    font-size: 3em;
    color: #212121;
    margin: 15px;
}

h2 {
    font-size: 2em;
    color: #212121;
}

p {
    color: #666666;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #FC427B;
}
li{
    list-style-type: none;

}
.main{
    max-width:1500px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    background-color: white;
    padding: 50px;
}
.data{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:15px;
    
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1px;
    background-color: #74b9ff;
    border-radius: 5px;
    
}
.ifsc , .bname{
    width:15%; 
    padding: 10px;
    border-right: 1px solid white;
     
}
.address{
    list-style-type: none;
    width:60%;
    padding: 10px;
           
}
.fav{
    width: 10%;
    padding: 10px;
    border-right: 1px solid white;
    
}
.fill{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:15px;
}
.pagination{
    display: flex;
    margin:15px;    
    justify-content:flex-start;
    flex-wrap: wrap;
}
.page{
    padding: 5px;    
    border: 1px solid #74b9ff;
}
#city, #page{
    width: 15%;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #636e72;
    color: white;
}
#search{
    width: 50%;
    margin-right:10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #636e72;
}
#favorites{
    /* width: 10%; */
    border-radius: 5px;
    padding: 10px;
    background-color: #636e72;
    color: white;
}
button{
    width: 15%;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;    
    background-color: #636e72;
    color: white
}
